{
  "$schema": "https://json.schemastore.org/prettierrc",
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "parser": "babel-ts",
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "editorconfig": true
}
