{
  "$schema": "https://json.schemastore.org/prettierrc",
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "parser": "vue",
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}